# Configuration file with service parameters

#input_resolution : [720,1280,3] # Change for other resolution!! Either 1280 x 720 or 640 x 480
input_resolution : [480,640,3]

# Object id's the current model is trained on
obj_ids : [1,2,3,4,5]
decimated_objects_path: /root/sandbox/bop_datasets/felice/decimated_models_prj/
object_map:
  {
    "1": 1, # Makita DFT
    "13": 2, # Window control Panel
    "2": 3, # Makita DFL (Single instance)
    "201": 301, # Makita DFL right instance (from two instances)
    "210": 310, # Makita DFL left instance (from two instances)
    "14": 4, # window control panel 2
    "16": 5, # speaker frame

  }
# Explicity set the calibration matrix if resolution is set to 640,480
# Camera outputs erroneous focal values
#K_manual: [643.359436, 0.000000, 631.149048, 0.000000, 641.896240, 363.118774, 0.000000, 0.000000, 1.000000]
#K_640_old: [423.87302656,0.0,318.68035889,0.0,423.07466667,242.97497559,0.0,0.0,1.0]
K_640: [425.22237339, 0.0, 318.82263184, 0.0, 425.06344477, 242.34793091, 0.0, 0.0,1.0] #correct one
#K_640: [381.7591857910156, 0.0, 318.68035888671875, 0.0, 381.3201904296875, 242.9749755859375, 0.0, 0.0, 1.0] # 
# fx, 0, cx, 0,fy, cy, 0, 0, 1  

# Methods used for inference
method: 'onnx'
#method: 'trt'
#trt: "/root/sandbox/tf_models/crf123AndLab123MI3_640_trt.engine"
#trt: "/root/sandbox/tf_models/crfAndLab12/crfAndLab12_1280_720_reannot_int8.engine"
#trt : "/root/sandbox/tf_models/crf12345AndLab123MI3_640_fp16.engine" # stable fp16 for objects 1,13 (640,480) # STABLE!!!

#onnx : "/root/sandbox/tf_models/fair_correct.onnx" # Turin fair model
#trt : "/root/sandbox/tf_models/fair_correct_fp16.engine" # Turin fair model

#trt : "/root/sandbox/tf_models/crfAndLab12/crfAndLab12_1280_720_reannot_IN8_trt_exec.engine"
onnx: "/root/sandbox/tf_models/crf12345AndLab123MI3/crf12345AndLab123MI3_640.onnx"
#onnx: "/root/sandbox/tf_models/crf123AndLab123MI3_640.onnx" # stable onnx model for objects 1,2,13 (640x480)
#onnx : "/root/sandbox/tf_models/crfAndLab12/crfAndLab12_640_480.onnx" # stable onnx model for objects 1,13 (640x480)
#onnx: "/root/sandbox/tf_models/crfAndLab12/crfAndLab12_1280_720_reannot.onnx"
#onnx: "/root/sandbox/tf_models/crfAndLab12/crfAndLab12_onnx.onnx"
# Perform warmup during initialization
warmup: True

# Path of initialization image, must be of the same resolution with the current 
# camera input resolution
init_image_path : "/root/sandbox/init_images/images_640_480/000000.png" # uncomment to use 640 x 480 image for initialization when using a model trained on images of size 640 x 480 

#init_image_path : "/root/sandbox/init_images/images_1280_720/000011.png"

# Path to store related visualizations including the captured image
# Don't forget to enable visualizations at visualization section below
vis_path: '/root/sandbox/results/test_18_06_2024' #turin_fair_2' #test640
corr_path: '/root/sandbox/results/test_18_06_2024' #turin_fair_2' #test640
# vis_path: '/root/sandbox/results/trt_test/test640' #test640
# corr_path: '/root/sandbox/results/trt_test/test640' #test640
save_Image: True
clear_store_path: False # Delete all test folders when a new session begins
testMode: True #test_image_path: "/root/sandbox/test_images/foam_base.png" # for 640
#test_image_path: "/root/sandbox/AGX_check/640/Test_2023_10_19_141839/Obj_1/image_raw.png"
#test_image_path: "/root/sandbox/AGX_check/1280/Test_2023_10_19_131545/Obj_1/image_raw.png"
#test_image_path: "/root/sandbox/test_images/obj_1_test.png" #for 1280
test_image_path: "/root/sandbox/test_images/000328.png"
# EPOS related flags
dataset : "felice" 
task_type : 'localization' 
decoder_output_stride : [4]
num_frags : 64
corr_min_obj_conf : 0.1
corr_min_frag_rel_conf : 0.5
project_to_surface : false
save_estimates : false
save_corresp : false
save_Image: True
save_Pose: True

# Pose fitting parameters.
fitting_method : 'progressive_x' #progressive_x
inlier_thresh : 4.0
neighbour_max_dist : 20.0
min_hypothesis_quality : 0.5
required_progx_confidence : 0.5
required_ransac_confidence : 1.0
min_triangle_area : 0.0
use_prosac : false
max_model_number_for_pearl : 5
spatial_coherence_weight : 0.1
scaling_from_millimeters : 0.1
max_tanimoto_similarity : 0.9
max_correspondences : None
max_instances_to_fit : None
max_fitting_iterations : 400

# Visualization parameters. #TODO
render_pose_overlay : false
vis_segm_conf: false
vis_inliers: false

